<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>AI</title>
		<!-- Bootstrap core CSS -->
		<link href="__CSS__/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="__CSS__/style2.css" rel="stylesheet">
	</head>
	<body id="page-top">
		<!-- Navigation -->
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li>
							<a class="page-scroll" href="/index.php/Home/Index/AI">Home</a>
						</li>
						<li>
							<a class="page-scroll" href="/index.php/Home/Index/face_detect">Face Detection</a>
						</li>
						<li>
							<a class="page-scroll" href="/index.php/Home/Index/face_comparison">Face Comparison</a>
						</li>
						<li>
							<a class="page-scroll" href="/index.php/Home/Index/text_recognition">Text Recognition</a>
						</li>
						<li>
							<a class="page-scroll" href="/index.php/Home/Index/pic_recognition">Object Recognition</a>
						</li>
						<li>
							<a class="page-scroll" href="/index.php/Home/Index/image_processing">Image Processing</a>
						</li>
						<li>
							<a class="page-scroll" href="/index.php/Home/Index/speech_synthesis">Speech Synthesis</a>
						</li>
						<li>
							<a class="page-scroll" href="/index.php/Home/Index/index">Back To Index</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		
		<section id="portfolio">
			<div class="container">
			<div class="row row-0-gutter">
				<!-- start portfolio item -->
				<div class="col-md-6 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="__IMAGES__/demo/FD.jpg" alt="img02" class="img-responsive" />
							<figcaption>
								<h2>Face Detection</h2>
								<p>Identify face features in pictures</p>
								<a href="/index.php/Home/Index/face_detect">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-6 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="__IMAGES__/demo/FC.jpg" alt="img02" class="img-responsive" />
							<figcaption>
								<h2>Face Comparison</h2>
								<p>Compare the similarity of two faces</p>
								<a href="/index.php/Home/Index/face_comparison">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
			</div>
			<div class="row row-0-gutter">
				<!-- start portfolio item -->
				<div class="col-md-6 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="__IMAGES__/demo/TR.png" alt="img02" class="img-responsive" />
							<figcaption>
								<h2>Text Recognition</h2>
								<p>Identify the text in the image</p>
								<a href="/index.php/Home/Index/text_recognition">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-6 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="__IMAGES__/demo/OR.jpg" alt="img02" class="img-responsive" />
							<figcaption>
								<h2>Object recognition</h2>
								<p>Identify object information in the image</p>
								<a href="/index.php/Home/Index/pic_recognition">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
			</div>
				<div class="row row-0-gutter">
					<!-- start portfolio item -->
					<div class="col-md-6 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="__IMAGES__/demo/IP.jpg" alt="img02" class="img-responsive" />
								<figcaption>
									<h2>Image Processing</h2>
									<p>Dehaze the image</p>
									<a href="/index.php/Home/Index/image_processing">View more</a>
								</figcaption>
							</figure>
						</div>
					</div>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<div class="col-md-6 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="__IMAGES__/demo/VS.png" alt="img02" class="img-responsive" />
								<figcaption>
									<h2>Speech Synthesis</h2>
									<p>Synthesize text into speech</p>
									<a href="/index.php/Home/Index/speech_synthesis">View more</a>
								</figcaption>
							</figure>
						</div>
					</div>
					<!-- end portfolio item -->
				</div>
			</div><!-- container -->
		</section>
		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="__JS__/jquery.min.js"></script>
		<script src="__JS__/bootstrap.min.js"></script>
		<script src="__JS__/SmoothScroll.js"></script>
		<script src="__JS__/theme-scripts.js"></script>
	</body>
</html>