<!DOCTYPE html>
<?php session_start(); ?>
<html>
<head>
<title>Portfolio</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="__CSS__/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="__CSS__/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="__JS__/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="__JS__/move-top.js"></script>
<script type="text/javascript" src="__JS__/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- for portfolio -->
<link rel="stylesheet" type="text/css" href="__CSS__/style5.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
<!-- //for portfolio -->
</head>
	
<body>
<!-- banner-body -->
	<div class="banner-body abt">
		<div class="container">
<!-- header -->
			<div class="header">
				<div class="header-nav">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						   <a class="navbar-brand" href="/index.php/Home/Index/index"><span>AI</span></a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						 <ul class="nav navbar-nav" style="margin-left: 20px">
							<li class="hvr-bounce-to-bottom"><a href="/index.php/Home/Index/index">Home</a></li>
							<li class="hvr-bounce-to-bottom"><a href="/index.php/Home/Index/AI">Experience-Zone</a></li>
							<li class="hvr-bounce-to-bottom active"><a href="/index.php/Home/Index/portfolio">News</a></li>
							<li class="hvr-bounce-to-bottom"><a href="/index.php/Home/Index/group">Group</a></li>
							<li class="hvr-bounce-to-bottom"><a href="#">Contact Us</a></li>
						  </ul>
							<div>
								<form class="navbar-form navbar-left" action="/index.php/Home/Index/search" method="post">
									<input type="text" name="str" class="form-control" placeholder="Search" style="outline: none;position: absolute;width: 220px;opacity: 0.75;">
									<button type="submit" class="bimg" style="outline: none;border: none;cursor: pointer;position: absolute;left: 780px;"></button>
								</form>
							</div>

							<if condition="empty($_SESSION['username']) neq true">
								<if condition="$tag eq 0">
									<div style="vertical-align: middle;text-align: center; margin-left:220px;margin-top:12px;display: inline-block">
										<a style="font-weight: bold" href="/index.php/Home/Index/backindex">DMS</a>
									</div>
									<div style="vertical-align: middle;text-align: center; margin-left:15px;margin-top:12px;display: inline-block">
										<a style="font-weight: bold" href="/index.php/Home/Index/desession">Logoff</a>
									</div>
								</if>
								<if condition="$tag eq 1">
									<div style="vertical-align: middle;text-align: center; margin-left:220px;margin-top:12px;display: inline-block">
										<a style="font-weight: bold" href="/index.php/Home/Index/desession">Logoff</a>
									</div>
								</if>
							</if>
							<div class="sign-in" style="display: inline-block">
								<if condition="empty($_SESSION['username']) eq true">
									<ul>
										<li><a href="/index.php/Home/Index/login">Login</a>/</li>
										<li><a href="/index.php/Home/Index/register">Register</a></li>
									</ul>
								</if>
								<if condition="empty($_SESSION['username']) neq true">
									<ul>
										<li><a href="/index.php/Home/Index/personal/uid/{$uid}">Welcome</a></li>
										<li><a href="/index.php/Home/Index/personal/uid/{$uid}">{$name}</a></li>
									</ul>

								</if>
							</div>
						</div><!-- /.navbar-collapse -->
					</nav>
				</div>
	
			<!-- search-scripts -->
			<script src="__JS__/classie.js"></script>
			<script src="__JS__/uisearch.js"></script>
				<script>
					new UISearch( document.getElementById( 'sb-search' ) );
				</script>
			<!-- //search-scripts -->
			</div>
<!-- //header -->
<!-- portfolio -->
			<div class="portfolio">
				<h3>Category</h3>
			<section class="main">
				<ul class="ch-grid">
					<a href="/index.php/Home/Index/news/type/Robotics"><li>
						<div class="ch-item ch-img-1">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-1"></div>
									<div class="ch-info-back">
										<h3>Robotics</h3>
									</div>	
								</div>
							</div>
						</div>
					</li></a>
					<a href="/index.php/Home/Index/news/type/Computer Vision"><li>
						<div class="ch-item ch-img-2">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-2"></div>
									<div class="ch-info-back">
										<h3>Computer Vision</h3>
									</div>
								</div>
							</div>
						</div>
					</li></a>
					<a href="/index.php/Home/Index/news/type/Natural Language Processing"><li>
						<div class="ch-item ch-img-3">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-3"></div>
									<div class="ch-info-back">
										<h3>Natural Language Processing</h3>
									</div>
								</div>
							</div>
						</div>
					</li></a>
				</ul>
			</section>
			<section class="main">
				<ul class="ch-grid">
					<a href="/index.php/Home/Index/news/type/Deep Learning"><li>
						<div class="ch-item ch-img-4">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-4"></div>
									<div class="ch-info-back">
										<h3>Deep Learning</h3>
									</div>	
								</div>
							</div>
						</div>
					</li></a>
					<a href="/index.php/Home/Index/news/type/Inference and Search"><li>
						<div class="ch-item ch-img-5">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-5"></div>
									<div class="ch-info-back">
										<h3>Inference and Search</h3>
									</div>
								</div>
							</div>
						</div>
					</li></a>
					<a href="/index.php/Home/Index/news/type/Autoprogramming"><li>
						<div class="ch-item ch-img-6">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-6"></div>
									<div class="ch-info-back">
										<h3>Auto programming</h3>
									</div>
								</div>
							</div>
						</div>
					</li></a>
				</ul>
			</section>
			<section class="main">
				<ul class="ch-grid">
					<a href="/index.php/Home/Index/news/type/Knowledge Representation"><li>
						<div class="ch-item ch-img-7">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-7"></div>
									<div class="ch-info-back">
										<h3>Knowledge Repre- sentation</h3>
									</div>	
								</div>
							</div>
						</div>
					</li></a>
					<a href="/index.php/Home/Index/news/type/Optimization"><li>
						<div class="ch-item ch-img-8">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-8"></div>
									<div class="ch-info-back">
										<h3>Optimization</h3>
									</div>
								</div>
							</div>
						</div>
					</li></a>
					<a href="/index.php/Home/Index/news/type/Others"><li>
						<div class="ch-item ch-img-9">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-9"></div>
									<div class="ch-info-back">
										<h3>Others</h3>
									</div>
								</div>
							</div>
						</div>
					</li></a>
				</ul>
			</section>
			</div>
<!-- //portfolio -->
		</div>
	</div>
<!-- for bootstrap working -->
		<script src="__JS__/bootstrap.js"> </script>
<!-- //for bootstrap working -->
</body>
</html>